#slider__container {
    height: 100vh;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    overflow-y: auto;
    height: 100vh;
    width: 50%;
    background-color: var(--green-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 120px;
}
.item__img-container {
    width: 100%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__img-container img {
    width: 100%;
    object-fit: unset;
}
.carousel-title{
    font-size:2.125rem;
    font-weight:700;
    color:var(--black-500);
    margin-bottom: var(--space-3xl);
}

.carousel-description{
    font-size:1.1rem;
    color:var(--grey-700);
}
.owl-dots {
    margin: 3.1rem !important;
}
.owl-dots .owl-dot span{
    width: var(--space-3xl) !important;
    height: var(--space-3xl) !important;
    border-radius: var(--radius-rounded) !important;
    background-color:var(--grey-500) !important;
}
.owl-dots .owl-dot.active span{
    width: var(--space-3xl) !important;
    height: var(--space-3xl) !important;
    background-color: var(--green-500) !important;
}
@media(width < 1200px){
    .carousel-title{
        font-size:1.5rem;
    }
    .carousel-description{
        font-size:14px;
    }
    #slider__container{
        padding: 0px 2.5rem;
    }
}
@media(width < 768px){
    #slider__container {
        display:none
    }
}